<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <h1>О нас</h1>
        <p>Мы команда разработчиков по Node JS , Express JS и андронному колайдеру, ракетно-двигательным установком и твоему очку 
            рады приветствовать вас на нашем официальном ресурсе посвященному Express. <br>
            Express - рифмуется со словом эксперт, проспект, процесс, регресс, глиномес - значит штука стоящая и достойная внимания каждого web-инженера.
        </p>
    </main>
</body>
</html>