<header>
    <div>
        <b>EXPRESS</b> <em>JS</em>
    </div>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
        <a href="/user/nick">Пользователи</a>
    </nav>
    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="Имя пользователя">
        <button type="submit">Искать</button>
    </form>
</header>